# what is pandas ?

pandas is a python library used for working with data sets.
It has functions for analyzing, cleaning,exploring,and manipulating data.
The name "pandas" has reference to both "panel  data", and "python data analysis" and was created by wes McKinney in 2008.

# why use pandas ?

Pandas allows us to analyze big data and make conclusions based on statistical theories.
Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.

# pandas main data - structure

# 1. Series --------> single columns or single row # 1 dimension
2. DataFrames --------> row and column # 2 dimension

# 01. series

it is defined as a one- dimensional array that is capable of storing various data types.

In [9]:
import pandas as pd

In [11]:
var= pd.Series([3,4,5,6,7,8])

In [12]:
var

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

In [13]:
type(var)

pandas.core.series.Series

In [15]:
x = [2,3,4,5,6,7,8,17]
ab = pd.Series (x,index = ["a","b","c","d","e","f","g","h"])

In [16]:
ab

a     2
b     3
c     4
d     5
e     6
f     7
g     8
h    17
dtype: int64

# 02. Data Frames

a dataframe is a two-dimensional tabular structure with labeled axes (rows and columns).

In [18]:
y= pd.DataFrame([1,2,3,4,5,6,7,8,])

In [19]:
y

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8

In [20]:
type(y)

pandas.core.frame.DataFrame

In [21]:
z=pd.DataFrame({"name":["raman","rahul","vishal","sakshi"],"roll_no":[2,3,4,5]})

In [22]:
z

     name  roll_no
0   raman        2
1   rahul        3
2  vishal        4
3  sakshi        5

In [23]:
type(z)

pandas.core.frame.DataFrame

In [24]:
a=[[1,2,2,3,4,4,5,6],[4,5,5,6,3,5,6,7]]

In [29]:
n=pd.DataFrame(a)

In [30]:
n

   0  1  2  3  4  5  6  7
0  1  2  2  3  4  4  5  6
1  4  5  5  6  3  5  6  7